= render "shared/sb-admin/page_heading", title: t("sidebar.provincial_usages")

.card.shadow.mb-4
  .card-body
    = render "download"
    = render "dashboard/filter_options"

    #table.table-responsive
      %table.table.table-hover
        %thead
          = render 'header_row'
          = render 'total_row'
        %tbody
          - @provincial_usages.each do |provincial, index|
            %tr
              - provincial.data.each do |data|
                %td= data
