#form-report-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = simple_form_for @do_report_setting, url: site_setting_path(@site.id, @do_report_setting.id.to_s) do |f|
        .modal-header
          %h5#exampleModalLabel.modal-title
            DO report schedule notification
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×

        .modal-body
          .d-flex
            %label.flex-grow-1= t('site_setting.enable_notification')
            = f.input :type, as: :hidden, input_html: { name: 'site_setting[type]' }
            = f.input :enable_notification, label: false, input_html: { name: 'site_setting[enable_notification]', id: 'toggle-notification' }

          .form-group
            = hidden_field_tag "site_setting[telegram_chat_group_ids][]", nil
            %label= t('site_setting.chat_group')

            - TelegramChatGroup.all.each_with_index do |chat_group, index|
              .form-check.ml-2
                = check_box_tag "site_setting[telegram_chat_group_ids][]", chat_group.id, @do_report_setting.telegram_chat_group_ids.include?(chat_group.id), class: 'form-check-input', id: dom_id(chat_group)
                %label.form-check-label{for: dom_id(chat_group)}= chat_group.title

        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t("shared.cancel")
          = f.submit t("shared.save"), class: "btn btn-primary"

