%ol.breadcrumb
  %li.breadcrumb-item
    = link_to t("sidebar.sites"), sites_path
  %li.breadcrumb-item
    = link_to @site.name_km, site_path(@site)
  %li.breadcrumb-item.active
    = t('sites.telegram_notification')

= render "shared/sb-admin/page_heading", title: t("settings.telegram_notification")

%h5 Feedback notification
- if @settings.feedbacks_setting.present?
  = render partial: 'feedback_setting', collection: @settings.feedbacks_setting
- else
  = render partial: 'no_feedback_setting'

%h5.mt-5 DO monthly report notification
- if @settings.do_reports_setting.present?
  = render partial: 'report_setting', collection: @settings.do_reports_setting
- else
  = render partial: 'no_do_report_setting'

-# - else
-#   

-# 

= render 'form_feedback_modal'
= render 'form_report_modal'
