%ol.breadcrumb
  %li.breadcrumb-item
    = link_to t("sidebar.sites"), sites_path
  %li.breadcrumb-item
    = link_to @site.name_km, site_path(@site)
  %li.breadcrumb-item.active
    = t('sites.telegram_notification')

= render "shared/sb-admin/page_heading", title: t("settings.telegram_notification")

%h5 Feedback notification
= render partial: 'feedback_setting', collection: @settings.feedbacks_setting

%h5.mt-5 DO monthly report notification
= render partial: 'report_setting', collection: @settings.do_reports_setting

-# - else
-#   .card.card-inactive
-#     .card-body.text-center
-#       %h4= t('site_setting.no_site_setting_yet')
-#       %p.text-description= t('site_setting.create_site_setting_description')

-#       - if TelegramBot.first.present?
-#         %button.btn.btn-primary.mt-3{"data-target" => "#form-modal", "data-toggle" => "modal", :type => "button"}
-#           = t("sites.create_setting")
-#       - else
-#         = t('site_setting.to_enable_telegram_html', url: settings_path)

-# 

= render 'form_modal'
