= render partial: "shared/page_header", locals: { title: title, link: nil }

= simple_form_for @user do |f|
  .row
    .col-md-4
      = f.input :email
      .form-group
        %label=t('users.role')

        .block-option
          - @roles.each do |role|
            = render_component(SelectComponent.new(value: role.id, name: "user[role_id]")) do
              %i.fa{ class: get_role(role.name)[:icon] }
              %p.status-text.m-0= t("roles.#{role.name}")
              %i.fa.fa-check-circle.fa-lg.check-sign
              
      = f.input_field :actived, class: 'toggle-control'
      %span= t('users.active_user')

  .my-3
    = f.submit class: "btn btn-primary"
