.card.shadow.mb-4
  .card-body
    = simple_form_for @schedule do |f|
      = f.input :name, label: t("schedules.name")
      .form-group
        %label.d-block= t "schedules.repeat"
        = f.input_field :day, type: "number", min: 1, value: 1, class: "form-control d-inline-block cron-control"
        = t "schedules.day"
        ,
        = t "schedules.at" 
        = f.input_field :time, type: "time", class: "form-control d-inline-block cron-control cron-time"

      - if ENV['MANUAL_ENABLED'] == 'true'
        %input#enable_manual_cron{ type: "checkbox" }
        %label{for: "enable_manual_cron"}= t "schedules.manual"
      = f.input :enabled, label: t("schedules.enabled")
      = f.submit t("schedules.save"), class: "btn btn-primary"
      = link_to t("schedules.cancel"), schedules_path, class: "btn btn-secondary"
