= render "welcomes/loading"
= render "welcomes/switch_lang"
= render "welcomes/logo_container"
= render "welcomes/sidebar"
= render "welcomes/article"
= render "welcomes/header"
= render "welcomes/form"
= render "welcomes/location_modal"
= render "welcomes/tabs/tabs"
= render "welcomes/footer"
= render "welcomes/popup_modal"

#sub_categories_modals
  %span.d-none THIS IS A CONTENT OF FEEDBACK SUBCATEGORIES

#feedback_trend_modals
  %span.d-none THIS IS A CONTENT OF FEEDBACK TREND
