.dropdown.position-fixed.switch-lang
  %a#dropdownMenuLink.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", tabindex: 2}
    = t("language.#{I18n.locale}")

  .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
    = link_to "#", id: "link-km", tabindex: 3, class: 'lang-item dropdown-item', "data-locale": "km" do
      = t('language.km')

    = link_to "#", id: "link-en", tabindex: 4,  class: 'lang-item dropdown-item', "data-locale": "en" do
      = t('language.en')
