!!!
%html{lang: I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = Gon::Base.render_data
    %meta{ name: "turbolinks-visit-control", content: "reload" }
    %title= t(:title).html_safe
    = display_meta_tags SocialMetaTag.to_meta_tags
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ id: css_class_name, style: 'overflow-y: scroll' }
    = content_tag :a, nil, id: "link"
    #main-content.position-relative
      = yield
    
    - if Rails.env.production? && !embed
      = render "welcomes/chatbot_short_into"
    
    = render "welcomes/fb_js_chat_script"
